.authentication-section {
  background-image: url(../../assets/background-attendance-pt3.svg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: relative;
}

.authentication-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0px auto 0px;
  margin-top: 54px;
  padding-bottom: 35px;
}

.banner {
  margin: auto;
}

.authentication-footer {
  margin: 0;
  padding: 15px 50px 0;
  background-color: #bdd1ff;
}

.banner-text {
  text-align: left;
  margin: 0;
  padding: 0;
  color: #7b9ef0;
  position: absolute;
  top: 12%;
  left: 15%;

  h2 {
    font-size: 36px;
    color: #658eec;
    margin: 0;
    padding: 0;
  }

  h3 {
  }
}
