.nav-dashboard-container{
    width: 100%;
    max-width: 317px;
    margin: auto;
    border-radius: 30px;
}

.dashboard-container{
    width: 270px;
    height : 600px;
    padding: 14px 0 0;
    margin: 25px 0 0 0px ;
    background-color:#ffffff;
    border-top: 1px solid #EDEDED !important;
    border-right: 1px solid #EDEDED !important;
    border-radius: 8px;
}

.dashboard-section{
    display: grid;
    grid-template-columns: 20% 75%;
    gap: 20px;
}

// .dashboard-content{
//     // margin-left: 20px;
// }