*{
    text-decoration: none;
    font-size: 17px;
}


.nav-card-container{
    // max-width: 200px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.nav-content-container{
    display:grid;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
}

Link{
    grid-template-columns: 40% 60%;
}

.nav-logo{
    width: 40px;
}

.nav-link{
    padding: 0;
}

.nav-text{
    text-align: center;
    color: #646464;
}

.nav-text:hover{
    background-color: #e7eeff;
    color: #467AF6;
    border-left: 3px solid #467AF6 !important;
}



.nav-button{
    min-width: 100px;
    // border-radius:8px;
    padding:16px 50px;
}


.back-button{
    width: 100%;
    padding:10px 50px;
    background-color: white;
    color: #5b8bfa;
     border: none;  
     cursor: pointer; 
    border: 0.8px solid #eaf1ff !important;

}

.back-button:hover{
    background-color: #054ffd;
    color: #ffffff;  
}

.footer-dashboard{
    margin: 50% auto;
    max-width: 200px;
}